on init
    write /proc/sys/kernel/hung_task_timeout_secs 0

    setprop ro.boot.bootdevice ff3c0000.ufs
    symlink /dev/block/platform/${ro.boot.bootdevice} /dev/block/bootdevice

    start watchdogd
    setprop logd.ready true

on late-init
    setprop sys.usb.controller ff100000.dwc3
    setprop ro.debuggable 1
    setprop service.adb.root 1
    setprop sys.usb.configfs 1
    setprop sys.usb.config adb

on fs
    start fixlinks
    start hwservicemanager

service fixlinks /sbin/fixlinks.sh
    oneshot
    disabled
    seclabel u:r:recovery:s0

service hwservicemanager /system/bin/hwservicemanager
    user root
    group root
    disabled
    onrestart setprop hwservicemanager.ready false
    seclabel u:r:recovery:s0

service oeminfo_nvm /sbin/true
    disabled

service aptouch /vendor/bin/aptouch_daemon
    user root
    group root system shell wakelock
    disabled
    seclabel u:r:aptouch:s0

on boot
    restorecon /vendor/bin/aptouch_daemon
    start aptouch

    setprop ro.boot.bootdevice ff3c0000.ufs
    symlink /dev/block/platform/${ro.boot.bootdevice} /dev/block/bootdevice

    start health-hal-2-0

on property:odm.thp.service_enable=1
    start aptouch

on property:odm.thp.service_enable=0
    stop aptouch
