#===========================================================
# common definition
#===========================================================

#===========================================================
# Platform Vendor supported now is:
# (1) MTK6582
# (2) MTK
# (3) QUALCOM
# (4) HISI_K3V3, HISI_K3V3_PLUS, HISI_V8R2
# (5) HISI
# for MTK6582:
# boot and recovery partition is only written
# with their start address and length in the EMMC
# for HISI_K3V3:
# directly write data to framebuffer may cause some problem
#===========================================================
HardwarePlatform=HISI_K3V3_PLUS

#===========================================================
# Outer sdcard mount point such as:/sdcard
#===========================================================
OuterSDCardMountPoint=/sdcard

#===========================================================
# Outer OTG mount point such as:/usb
#===========================================================
OuterOtgMountPoint=/usb

#===========================================================
# Grs Server URL
#===========================================================
GrsServerUrl1Com=https://grs.dbankcloud.com/grs/1.0/erecovery/router
GrsServerUrl2Cn=https://grs.dbankcloud.cn/grs/1.0/erecovery/router
GrsServerUrl3Asia=https://grs.dbankcloud.asia/grs/1.0/erecovery/router
#GrsServerUrlTest1=https://lfgrstest.hwcloudtest.cn:8443/grs/1.0/erecovery/
#GrsServerUrlTest2=https://lfgrstest.hwcloudtest.cn:8475/grs/1.0/erecovery/

#===========================================================
# Grs Service Name, config by hota cloud
#===========================================================
GrsServiceName=com.huawei.cloud.hotaUnique

#===========================================================
# Query package URL for one site model begin from EMUI 9.0
#===========================================================
QueryServerURLOneSite=http://query.hicloud.com/sp_ard_common/v2/onestopCheck.action?latest=true&verType=true
QueryOneSiteUrlTail=/sp_ard_common/v2/onestopCheck.action?latest=true&verType=true

#===========================================================
# Retrieve auth info URL
#===========================================================
RetrieveAuthInfoURL=http://query.hicloud.com/sp_ard_common/v1/authorize.action
AuthInfoUrlTail=/sp_ard_common/v1/authorize.action

#===========================================================
# Report status URL
#===========================================================
ReportStatusURL=http://query.hicloud.com/sp_ard_common/v2/UpdateReport.action
ReportStatusUrlTail=/sp_ard_common/v2/UpdateReport.action

#===========================================================
# BL Query package URL, begin from EMUI 11.X
#===========================================================
QueryServerBlURL=http://query.hicloud.com/BL/v1/CheckAndAuthorize
QueryBlUrlTail=/BL/v1/CheckAndAuthorize

#===========================================================
# BL auth info URL, begin from EMUI 11.X
#===========================================================
AuthServerBlURL=http://query.hicloud.com/BL/v1/Authorize
AuthBlUrlTail=/BL/v1/Authorize
